<div class="content__container">
  <p>You can use this app to manage your personal collection of artists and their albums.  Feel free to create, edit and delete to you heart's content.  Click the link below to get started!</p>

  <%= link_to "View Artists", artists_path, class: "link__styles"%>
  
</div>